<h1>Campeonato XYZ</h1>

<form #myForm="ngForm" (submit)="salvaTime(myForm)">

  <div>
    <label>Nome do Time: </label>
    <input type="text" name="nome" [(ngModel)]="novoTime.nome">
  </div>

  <div>
    <label>Pontuação: </label>   
    <input type="text" name="pontuacao" [(ngModel)]="novoTime.pontuacao">
  </div>

  <div>
    <input type="submit" value="Salvar" id="">
  </div>

  <h2>Classificação:</h2>

  <div *ngIf="timeLista[0]">

    <table>
      <thead>

        <tr>
          <th>Classificação:</th>
          <th>Time:</th>
          <th>Pontuação</th>
        </tr>

      </thead>
      
      <tbody *ngFor="let time of timeLista">

        <td>1</td>
        <td> {{ time.nome }} </td>
        <td> {{ time.pontuacao }} </td>

      </tbody>


    </table>

  </div>
  
</form>